body {
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.outer-container {
    background-color: white;
    border-radius: 30px;
    width: 380px;
    height: 560px;
    margin: auto;
}

#hero {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

/* MAIN TEXT */

.pricing {
    margin: auto;
    text-align: center;
    width: 80%;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 8px;
    padding-top: 15px;
    font-weight: 900;
    font-size: 1.5em;
    color: hsl(223, 47%, 23%);
}

#description {
    color: hsl(224, 23%, 55%);
    margin-top: 10px;
    font-size: 1em;
    padding-right: 11px;
    padding-left: 11px;
}

button {
    display: block;
}

/* PANEL CODE */

.panel {
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel img {
    height: 65%;
    padding-left: 10px;
    padding-right: 14px;
}

.text {
    height: 80px;
    text-align: left;
    margin-top: 7px;
}

.panel h4 {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
    padding: 0;
}

.panel p {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    margin: 0;
    padding: 0;
}

a {
    margin-left: 65px;
    font-size: 15px;
    font-weight: 700;
}

/* BUTTONS  */

button {
    width: 300px;
    margin: auto;
    height: 40px;
    border-radius: 8px;
}

.payment {
    margin-top: 15px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.cancel {
    margin-top: 8px;
    background-color: white;
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    letter-spacing: 0.5px;
}

/* interactive  */

a:hover {
    color: hsl(264, 100%, 54%);
}

.payment:hover {
    background-color: hsl(264, 100%, 54%);
    cursor: pointer;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}